* {
border: 1px solid red;
} 

button {
    font-size: 20px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.numContainer {
    display: flex;
}